* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  color: #f05a66;
}

.pull-right {
  float: right;
}

.pure-menu-heading {
  text-transform: lowercase;
  color: #fff;
}

.splash-menu {
  color: #fff;
  background-color: #f05a66;
  /*border-top: solid 3px #f05a66;*/
  border-bottom: solid 3px #fff;
  padding-top: .5%;
  /*padding-bottom: .5%;*/
}

.splash-menu-link {
  /*background-color: #fff;
  color: #f05a66;*/
  color: #fff;
  background-color: #f05a66;
}

.splash-menu-link:hover, .splash-menu-link:focus {
  background-color: #fff;
  color: #f05a66;
}

.splash-menu-link:focus {

}

.splash-menu-selected .splash-menu-link {
  color: #f05a66 !important;
  background-color: #fff !important;
}

.page-container {
    height: 100vh;
    background-color: #f05a66;
    z-index: 1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.splash, .login, .about {
  border: solid 3px #fff;
  border-radius: 5px;
  margin: 10% 15%;
  padding: 10% 15%;
  color: #fff;
}

.login-text {
  margin-bottom: 50px;
}

a.pure-button-primary {
  color: #f05a66;
  background-color: #fff;
}

.facebook-link {
  background-color: #365899;
  color: #fff;
  text-decoration: none;
  padding: 4%;
}

.google-link {
  background-color: #d14836;
  color: #fff;
  padding: 4%;
  text-decoration: none;
}

.pure-menu-list {
  margin-right: 10px;
}

.facebook-link:hover, .google-link:hover{
  border: solid 4px #fff;
  border-radius: 3px;
}
