* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  color: #f05a66;
}

input {
  color: #222;
}

.pull-right {
  float: right;
}

.pure-menu-heading {
  text-transform: lowercase;
  color: #fff;
}

.splash-menu {
  color: #fff;
  background-color: #f05a66;
  /*border-top: solid 3px #f05a66;*/
  border-bottom: solid 3px #fff;
  padding-top: .5%;
  /*padding-bottom: .5%;*/
}

.splash-menu-link {
  /*background-color: #fff;
  color: #f05a66;*/
  color: #fff;
  background-color: #f05a66;
}

.splash-menu-link:hover, .splash-menu-link:focus {
  background-color: #fff;
  color: #f05a66;
}

.splash-menu-link:focus {

}

.splash-menu-selected .splash-menu-link {
  color: #f05a66 !important;
  background-color: #fff !important;
}

.splash-menu-selected{
  color: #f05a66 !important;
  background-color: #fff !important;
}

.page-container {
    height: 100vh;
    background-color: #f05a66;
    z-index: 1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.splash, .login, .about {
  border: solid 3px #fff;
  border-radius: 5px;
  margin: 10% 15%;
  padding: 10% 15%;
  color: #fff;
}

.login-text {
  margin-bottom: 50px;
}

a.pure-button-primary {
  color: #f05a66;
  background-color: #fff;
}

.facebook-link {
  background-color: #365899;
  color: #fff;
  text-decoration: none;
  padding: 4%;
}

.google-link {
  background-color: #d14836;
  color: #fff;
  padding: 4%;
  text-decoration: none;
}

.home {
  color: #fff;
  overflow: auto;
}

.home-menu a {
  color: #fff;
  text-decoration: none;
  border: solid 1px #fff;
  padding: 10px;
  width: 10%;
  display: inline-block;
}

.feed-link {
  margin-right: -5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.episodes-link {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pure-menu-list {
  margin-right: 10px;
}

.facebook-link:hover, .google-link:hover{
  border: solid 4px #fff;
  border-radius: 3px;
}

.feed-form {
  text-align:left;
  padding: 3vh 15vw;
  /*padding-bottom: 3vh;*/
}

.feed-form input {
  width: 100%;
}

#feed-categories, #feed-itunes-category {
  display: inline-block;
  width: 92%;
}

.categories-container {
  margin: 10px;
}

.categories-pod {
  margin: 3px 3px;
  border: solid 1px #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 6px;
}

.save-container {
  text-align: right;
}

.save-button {
  background-color: #f05a66;
  color: #fff;
  border: solid 1px #fff;
}

.add-button {
  display: inline-block;
  margin-left: -10px;
  width: 8.5%;
  height: 36px;
  background-color: #f05a66;
  box-sizing: border-box;
  border: solid 1px #fff;
  color: #fff;
}

.remove-category {
  border-radius: 15px;
  background-color: #fff;
  color: #f05a66;
  width: 25px;
  height: 25px;
  border: none;
  margin: 5px;
  margin-left: 10px;
}

.remove-category:active{
  background-color: #f05a66;
  color: #fff;
  border: solid 1px #fff;
}
